<h1><center>About</center></h1>

<br>
<br>
<br>

<div class="jumbotron">
	<center>
	CraneMemes is a project to inspire.  
	<br>
	<br>
	What is more inspiring than a thoughtful crane?
	<br>
	</center>
</div>	