
<body>
<center>

<!--  February 10, 2014  -->
<div class="jumbotron">
	<center>
	<h2>February 10, 2014</h2>
	<br>
	<img src="/Photos/2014_02_10.jpg" width="85%" />
	<br>
	<br>
	<h3>It's okay to build castles in the sky; just make sure you got some good foundations underneath 'em.</h3>
<br>

<!--  February 9, 2014  -->
<div class="jumbotron">
	<center>
	<h2>February 9, 2014</h2>
	<br>
	<img src="/Photos/2014_02_09.jpg" width="85%" />
	<br>
	<br>
	<h3>Realize that hidden in the eyes of every passing stranger are fears, desires, joys and pains not unlike your own. Though you may never know their name, your lives are both entangled in a vast web of interdependence - love these people as yourself.</h3>
<br>

<!--  January 24, 2014  -->	
<div class="jumbotron">
	<center>
	<h2>January 24, 2014</h2>
	<br>
	<img src="/Photos/2014_01_14.jpg" width="85%" />
	<br>
	<br>
	<h3>Everyone has their own unique spiritual truth to live out.  Will you have the audacity to live out your own?</h3>
</div>
</body>
