<h1><center>CraneMemes</center></h1>

<br>
<br>
<br>

<div class="jumbotron">
	<center>
	<strong>January 18, 2013</strong>
	<br>
	<br>
	<img src="/Photos/2014_01_14.jpg" width="75%" />	
	<br>
	<br>
	Everyone has their own unique spiritual truth to live out.  Will you have the audacity to live out your own?
</div>
